streamlit
tensorflow
tensorflow-macos; platform_system == 'Darwin'
keras
scikit-learn
numpy
pandas
matplotlib
h5py
protobuf
grpcio
aiohttp
httpx
httpx-oauth
pydantic
langchain
langchain-core
langchain-openai
langchain-pinecone
openai
python-dotenv
altair
requests
